@model IndexViewModel
@{
    ViewBag.Title = "Home";
}

@{
    FreshFruits.Services.ShoppingCart cart = null;

    if (ViewData["ShoppingCart"] != null)
    {
        cart = (FreshFruits.Services.ShoppingCart)ViewData["ShoppingCart"];
    }
}

<div class="row">

    <div class="col-md-3 shopping-cart">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>
        }

        <h3>Shopping cart</h3>
        <ul class="list-group shopping-cart-items">
            @if (cart != null && cart.Count() > 0)
            {
                @foreach (var item in cart.GetItems())
                {
                    <li class="list-group-item product-item">
                        @item.Name  (@item.Price€)


                        <a class="pull-right" asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove</a>
                    </li>
                }
                <li class="list-group-item active">
                    Total: @cart.CalculateTotalPrice()€
                </li>
            }
            @if (cart == null || cart.Count() == 0)
            {
                <li class="list-group-item">Shopping cart is empty</li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="dropdown" style="margin-bottom:10px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sort by...
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a asp-controller="Home" asp-action="Index" asp-route-sortBy="price">Price</a></li>
                <li><a asp-controller="Home" asp-action="Index" asp-route-sortBy="rating">Rating</a></li>
            </ul>
        </div>
        <div class="row">
            @foreach (var item in Model.Fruits)
            {
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@item.Image" alt="">
                        <div class="caption">
                            <h4 class="pull-right">€@item.Price</h4>
                            <h4>
                                <a href="#">@item.Name</a>
                            </h4>
                            <p>@item.Description</p>
                        </div>
                        <div class="ratings">
                            <p>
                                @for (var i = 0; i < item.Rating; i++)
                                {
                                    <span class="glyphicon glyphicon-star"></span>
                                }
                            </p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-primary" asp-action="AddToCart" asp-route-id="@item.Id">Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>